

.page {
	font-family: Arial;
	font-size: 15px;
	color: white;
	background-color: #DCC7AA;
	height: 5000em;
}

.headBox {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #6B7A8F;
	height: 70px;
	position: relative;
	z-index: 3;
	overflow: hidden;

}

.navBar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	/*background-color: #F7C331;*/
	height: 32px;
	width: 100%;
}

.navBand {
	background-color: #F7882F;
	width: 15%;
	height: 28px;
	right: -10px;
	position: absolute;
	z-index: 0;
}

.navBox {
	background-color: #F7882F;
	height: 28px;
	width: 120px;
	margin: 8px;
	margin-right: 0px;
	display: flex;
	align-items: center;
	position: relative;
}

.circBox {
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 1;
}

.circ {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #F7882F;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}

img {
	margin-top: 4px;
}

.navCover {
	display: flex;
	height: 28px;
	width: 70%;
	left: 30%;
	background-color: #F7882F;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	z-index: 2;
	font-weight: bold;
}

.navText {
	margin-top: 3px;
	margin-left: 8px;
}

a .navBox {
	text-decoration: none;
	color: black;
}

a:hover .circ {
	background-color: #ff9949;
}

a:hover .navCover {
	background-color: #ff9949;
}

a:hover .navBand {
	background-color: #ff9949;
}

.navHide {
	width: 100%;
	height: 4px;
	background-color: #F7C331;
	position: absolute;
	z-index: 4;
}

.circBoxB {
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 0;
	margin-left: -5px;
}

.circB {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #F7C331;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}


