
body, html {
	margin: 0px;
}

.page {
	font-family: Arial;
	font-size: 15px;
	color: white;
}

.body {
	background-color: #DCC7AA;
	position: relative;
	z-index: -100;
	height: 5000em;
}

.bodyLock {
	margin-top: 98px;
}

.headBox {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-image: url('../images/beach.jpg');
	background-size: 100%;
	background-position: 0px 32%;
	height: 70px;
	position: relative;
	z-index: 3;
	overflow: hidden;
}

.navBar {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 28px;
	width: 100%;
}

.navLock {
	position: fixed;
	top: 4px;
}

.hideLock {
	width: 100%;
	height: 3px;
	background-color: #68E5FF;
	z-index: 4;
	position: fixed;
	top: 4px;
}

.headLock {
	background-color: #3ca2c4;
	height: 4px;
	width: 100%;
	top: 0px;
	position: fixed;
	z-index: 3;
}

.navBand {
	background-color: #06C2F4;
	width: 15%;
	height: 28px;
	right: -10px;
	position: absolute;
	z-index: 0;
}

.navBox {
	background-color: #06C2F4;
	height: 28px;
	width: 120px;
	margin: 8px;
	margin-right: 0px;
	display: flex;
	align-items: center;
	position: relative;
}

.circBox {
	width: 50px;
	height: 50px;
	position: relative;
	z-index: 1;
}

.circ {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #06C2F4;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}

img {
	margin-top: 4px;
}

.navCover {
	display: flex;
	height: 28px;
	width: 70%;
	left: 30%;
	background-color: #06C2F4;
	align-items: center;
	justify-content: flex-start;
	position: absolute;
	z-index: 2;
	font-weight: bold;
}

.navText {
	margin-top: 3px;
	margin-left: 8px;
}

a .navBox {
	text-decoration: none;
	color: black;
}

a:hover .circ {
	background-color: #19CEFF;
}

a:hover .navCover {
	background-color: #19CEFF;
}

a:hover .navBand {
	background-color: #19CEFF;
}

.navHide {
	width: 100%;
	height: 3px;
	background-color: #68E5FF;
	position: absolute;
	z-index: 4;
}

.circBoxB {
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 0;
	margin-left: -5px;
}

.circB {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #68E5FF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4px;
}

.dropBox {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	width: 73px;
	height: 100px;
	margin-left: 60px;
	margin-top: -8px;
	background-color: #007996;
}


